In [4]:
import pandas as pd
from sqlalchemy import create_engine
import os 
from dotenv import load_dotenv

In [5]:
# Load environment variables
dotenv_path = os.path.join(os.path.dirname(os.getcwd()), 'config', '.env')
load_dotenv(dotenv_path=dotenv_path)

engine = create_engine(f"postgresql://{os.getenv('DB_USER')}:{os.getenv('DB_PASSWORD')}@{os.getenv('DB_HOST')}:{os.getenv('DB_PORT')}/{os.getenv('DB_NAME')}")

In [6]:
data = pd.read_sql("SELECT * FROM salesperson_summary", engine)

data.head()

,year,salesperson,num_completed_orders,total_sales,total_profit,avg_order_value,avg_profit_per_order,total_discounted_revenue,total_discount_given,total_revenue_lost,units_lost,customers_lost
0,2019.0,Adam Smith,6,7700.412061,6476.046902,1283.402010,1079.341150,7700.412061,1301.277939,0.0,0.0,0
1,2019.0,Bradley Howe,10,13102.462313,10997.349108,1310.246231,1099.734911,13102.462313,1532.077687,0.0,0.0,0
2,2019.0,Caitlyn Boyd,9,11747.390995,9900.168229,1305.265666,1100.018692,11747.390995,1718.809005,0.0,0.0,0
3,2019.0,Caleb Camacho,15,18142.850260,15022.664692,1209.523351,1001.510979,18142.850260,4422.059740,0.0,0.0,0
4,2019.0,Charles Smith,14,20252.237109,17156.825827,1446.588365,1225.487559,20252.237109,2787.262891,0.0,0.0,0

In [9]:
data[["total_revenue_lost", "units_lost", "customers_lost"]].describe()
data[["total_revenue_lost", "units_lost", "customers_lost"]].isnull().sum()

total_revenue_lost    0
units_lost            0
customers_lost        0
dtype: int64